@model PagedList.IPagedList<ChildhoodMinistry.ViewModel.ChildhoodViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Angular2";
}

<h2>Список детсадов</h2>
<div ng-controller="ChildhoodCRUDCtrl">
    <div class="data">
        <table class="table table-hover">
            <tr>
                <td>Номер детсада</td>
                <td>Адрес</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adress)
                    </td>
                    <td>
                        <span ng-click="GetChildrenList(@item.Number)" class="btn btn-primary">Список детей</span>
                        <span ng-click="EditChildhood(@item)" class="btn btn-primary">Редактировать</span>
                        <span ng-click="DeleteChildhood(@item)" class="btn btn-danger">Удалить</span>
                    </td>
                </tr>
            }
        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index2", "Childhood",
   new { sortOrder = ViewBag.CurrentSort, page, currentFilter = ViewBag.CurrentFilter }))

    </div>
    <span ng-click="AddChildhoodDiv()" class="btn btn-default" ng-cloak>Добавить детсад</span>
    <div ng-show="divEdit" ng-cloak>
        <table class="table">
            <tr>
                <td>{{Action}} записи</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Номер детсада
                </td>
                <td>
                    <input type="text" ng-model="childhood.Number" />
                </td>
            </tr>
            <tr>
                <td>
                    Адрес
                </td>
                <td>
                    <input type="text" ng-model="childhood.Adress" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" ng-show="save" ng-click="AddChildhood()" class="btn btn-default" value="Сохранить" />
                    <input type="button" ng-show="edit" ng-click="UpdateChildhood()" class="btn btn-default" value="Сохранить" />
                </td>
                <td>
                    <input type="button" ng-click="CancelChildrenList()" class="btn btn-danger" value="Отменить" />
                </td>
            </tr>
        </table>
    </div>

    <div ng-show="divList" ng-cloak>
        <h2>Список детей</h2>
        <div dir-list-items typeof="list" children="children" childhood-num="{{childhoodNum}}" get-children-list="GetChildrenList"></div>

        <input type="button" ng-click="CancelChildrenList()" class="btn btn-danger" value="Закрыть" />
    </div>
</div>